html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	font-size: 18px;
	color: #2A75A9;
	line-height: 1.4;
	width: 150px;
	overflow: hidden;
}
td {
	font-size: 10px;
}
a, a:focus {
	outline: none;
	text-decoration: none;
}
#geo, #nav, #map, #spinner, #retry {
	display: none;
}
#nav a {
	font-size: 10px;
	padding: 4px 5px;
	border: 1px solid #7EB5D6;
	border-radius: 10px;
	background-color: #fff;
	color: #7EB5D6;
}
#nav a:hover {
	background-color: #7EB5D6;
	color: #fff;
}
.getting-data {
	font-size: 9px;
}
.value {
	font-weight: 600;
}
.about {
	float:right;
	font-size: 9px;
	right: 0;
	bottom: 0;
	color: #274257;
}